.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.typeboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 20px;
  font-family: monospace;
}

.typebox {
  user-select: none;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 14pt;
  height: 70%;
  width: 80%;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 auto;
}

.typebox .letter {
  color: grey; 
  position: relative;
  &.active::before {
    content: '|';
    color: rgb(215, 215, 211);
    font-size: 14pt;
    font-weight: boldigi;
    position: absolute;
    left: -65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.correct {
    color: rgb(144, 222, 144);  
  }

  &.incorrect {
    color: rgb(222, 144, 144);
  }
}

.typebox-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 80%;
}

.typebox-results-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}


@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
